:root {
    --yellow-primary: #ffee8c;
    --black: #111;
    --white: #ffffff;
}

body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    background-color: var(--yellow-primary);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: var(--white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.8rem;
    font-weight: 900;
    text-decoration: none;
    color: var(--black);
}

nav a {
    text-decoration: none;
    color: var(--black);
    margin: 0 1rem;
    font-size: 18px;
    font-weight: 600;
}

nav a:hover {
    color: var(--yellow-primary);
}

.inicio {
    background: linear-gradient(90deg, white, var(--blue-primary));
    padding: 5rem 1rem;
    text-align: center;
}

.inicio h1{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.inicio p{
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.aventuras {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 430px;
    overflow: hidden;
}

.aventuras img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    object-position: center;
    opacity: .8;
    transition: all .5s ease;
}

.aventuras img:hover {
    cursor: crosshair;
    flex-grow: 10;
    opacity: 1;
    filter: contrast(120%);
}

.mood {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px 20px;
    background: var(--white);
    flex-wrap: wrap;
    width: 100%; 
}

.card {
    text-align: center;
    flex: 1 1 200px;
    max-width: 250px;
}

.card img {
    width: 100%;
    height: 250px; 
    object-fit: cover;
    border-radius: 15px;

}

.card h3 {
    margin: 15px 0 10px;
    font-weight: 800;
}

footer {
    background-color: var(--black);
    padding: 3rem 1rem;
    text-align: center;
    color: var(--white);
}

footer a {
    color: var(--yellow-primary);
    text-decoration: none;
}