:root {
    --yellow-primary: #ffee8c;
    --black: #111;
    --white: #fefefe;
}

body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    background-color: var(--yellow-primary);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.8rem;
    font-weight: 900;
    text-decoration: none;
    color: var(--black);
}

nav a {
    text-decoration: none;
    color: var(--black);
    margin: 0 1rem;
    font-size: 18px;
    font-weight: 600;
}

nav a:hover {
    color: var(--yellow-primary);
}

footer {
    background-color: var(--black);
    padding: 3rem 1rem;
    text-align: center;
    color: var(--white);
}

footer a {
    color: var(--yellow-woodstock);
    text-decoration: none;
}